<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2 class="nav"><a href="/">Home</a> > Activity types</h2>
        <table class="mytable">
            <tr>
                <th>Description</th>
                <th>Rate</th>
            </tr>
            <% activity_types.forEach(function(activity_type) { %>
            <tr>
                <td><a href="/activity-type/<%= activity_type.id %>"><%= activity_type.description %></a></td>
                <td>$<%= activity_type.rate %></td>
            </tr>
            <% }); %>
        </table>
        <div class="page-action">
            <a href="/activity-type/new" class="add-button"><i class="fa fa-circle-plus"></i></a>
        </div>
    </body>
</html>
