{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ invoice.name }}</title>
  </head>
  <body>
    <h1>INVOICE: {{ invoice.name }}</h1>
    <div id="biller">
      <table>
        <tr>
          <td><b>{{ invoice.billing.name }}</b></td>
          <td style="text-align: right;">Ph:</td>
          <td>{{ invoice.billing.phone }}</td>
        </tr>
        <tr>
          <td>{{ invoice.billing.addr1 }}</td>
          <td style="text-align: right;">Email:</td>
          <td>{{ invoice.billing.email }}</td>
        </tr>
        <tr>
          <td>{{ invoice.billing.addr2 }}</td>
          <td style="text-align: right;">ABN:</td>
          <td>
            {{ invoice.billing.abn }}
            {% if invoice.billing.is_gst_registered %}
            (GST registered)
            {% else %}
            (Not GST registered)
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h2>Bill to</h2>
      {{ invoice.bill_to }}
    </div>
    <div class="card">
      <h2>Summary</h2>
      <table>
        <tr>
          <td>Date:</td>
          <td>{{ invoice.issued }}</td>
        </tr>
        <tr>
          <td>Amount owing:</td>
          <td>${{ invoice.total_amount }}</td>
        </tr>
        <tr>
          <td>Due date:</td>
          <td>{{ invoice.due }}</td>
        </tr>
      </table>
    </div>
    <table>
      <tr>
        <th>Date</th>
        <th>Qty</th>
        <th>Rate</th>
        <th>Activity</th>
        <th>Notes</th>
        <th>Amount</th>
      </tr>
      {% for activity in invoice.activity_set.all %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
<style>
td {
  padding: 0px 30px;
}

.card > h2 {
  font-size: 20px;
  margin: 0px 0px 10px 0px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
</style>
