<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2 class="nav"><a href="/">Home</a> > Accounts</h2>
        <table class="mytable">
            <tr>
                <th>Account Name</th>
                <th>BSB</th>
                <th>Account No.</th>
            </tr>
            <% accounts.forEach(function(account) { %>
            <tr>
                <td><a href="/account/<%= account.id %>"><%= account.name %></a></td>
                <td><%= account.bsb %></td>
                <td><%= account.number %></td>
            </tr>
            <% }); %>
        </table>
        <div class="page-action">
            <a href="/account/new" class="add-button"><i class="fa fa-circle-plus"></i></a>
        </div>
    </body>
</html>
