<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2><a href="/">Home</a> > Accounts</h2>
        <table class="mytable edittable">
            <tr>
                <th>BSB</th>
                <th>Account No.</th>
                <th>Account Name</th>
                <th>Action</th>
            </tr>
            <% accounts.forEach(function(account) { %>
            <tr>
                <form action="/accounts" method="post">
                    <input id="id" name="id" value="<%= account.id %>" hidden>
                    <td><input id="bsb" name="bsb" value="<%= account.bsb %>"></td>
                    <td><input id="number" name="number" value="<%= account.number %>"></td>
                    <td><input id="name" name="name" value="<%= account.name %>"></td>
                    <td style="text-align: center;">
                        <button class="btn-fa" type="submit" name="action" value="update">
                            <i class="fa fa-save" style="color: green;"></i>
                        </button>
                        <button class="btn-fa" type="submit" name="action" value="delete">
                            <i class="fa fa-trash" style="color: #c00;"></i>
                        </button>
                    </td>
                </form>
            </tr>
            <% }); %>
            <tr>
                <form action="/accounts" method="post">
                    <td><input id="bsb" name="bsb"></td>
                    <td><input id="number" name="number"></td>
                    <td><input id="name" name="name"></td>
                    <td style="text-align: center;">
                        <button class="btn-fa" type="submit" name="action" value="insert">
                            <i class="fa fa-add" style="color: #00c;"></i>
                        </button>
                    </td>
                </form>
            </tr>
        </table>
    </body>
</html>
