<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2 class="nav"><a href="/">Home</a> > Billing information</h2>
        <table class="mytable">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>ABN</th>
            </tr>
            <% billings.forEach(function(billing) { %>
            <tr>
                <td><a href="/billing/<%= billing.id %>"><%= billing.name %></a></td>
                <td><%= billing.email %></td>
                <td><%= billing.abn %></td>
            </tr>
            <% }); %>
        </table>
        <div class="page-action">
            <a href="/billing/new" class="add-button"><i class="fa fa-circle-plus"></i></a>
        </div>
    </body>
</html>
