<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>PPC invoicing system</h1>
        <ul>
            <li><a href="account/list">Accounts<a></li>
            <li><a href="billing/list">Billing information<a></li>
            <li><a href="client/list">Clients<a></li>
            <li><a href="activity-types">Activity types<a></li>
            <li><a href="activity">Activities<a></li>
            <li><a href="invoices">Invoices<a></li>
        </ul>
    </body>
</html>
