<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <h1>PPC invoicing system</h1>
        <ul>
            <li><a href="accounts">Accounts<a></li>
            <li><a href="billing">Billing<a></li>
            <li><a href="activity-type">Activity types<a></li>
            <li><a href="activity">Activities<a></li>
        </ul>
    </body>
</html>
