<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/sidebar'); %>

        <div class="w3-main" style="margin-left:200px">
            <div class="w3-container">
                <h1>
                    <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
                    PPC invoicing system
                </h1>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/scripts/myscripts.js"></script>
</html>
